# mongod.conf, Percona Server for MongoDB
# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# Where and how to store data.
storage:
{% if inventory_hostname in groups["cfgsvrs"] %}
  dbPath: /data/configdb
{% else %}
  dbPath: /data/serverdb
{% endif %}
  journal:
    enabled: true
#  engine: wiredTiger
#  engine: inMemory

# Storage engine various options
#  More info for wiredTiger: https://docs.mongodb.com/v4.4/reference/configuration-options/#storage-wiredtiger-options
#  wiredTiger:
#    engineConfig:
#      cacheSizeGB: 1
#      checkpointSizeMB: 1000
#      statisticsLogDelaySecs: 0
#      journalCompressor: snappy
#      directoryForIndexes: false
#    collectionConfig:
#      blockCompressor: snappy
#    indexConfig:
#      prefixCompression: true

#  More info for inMemory: https://www.percona.com/doc/percona-server-for-mongodb/4.4/inmemory.html#configuring-percona-memory-engine
#  inMemory:
#    engineConfig:
#      inMemorySizeGB: 1
#      statisticsLogDelaySecs: 0

# Two options below can be used for wiredTiger and inMemory storage engines
#setParameter:
#    wiredTigerConcurrentReadTransactions: 128
#    wiredTigerConcurrentWriteTransactions: 128

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongo/mongod.log

processManagement:
  fork: true
  pidFilePath: /var/run/mongod.pid

# network interfaces
net:
  bindIp: "*"
{% if inventory_hostname in groups["cfgsvrs"] %}
  port: 27019
{% else %}
  port 27018
{% endif %}


#security:

#operationProfiling:


{% if inventory_hostname in groups["cfgsvrs"] %}
sharding:
   clusterRole: configsvr
replication:
  replSetName: cfgReplSet
{% else %}
sharding:
   clusterRole: shardsvr
replication:
  replSetName: rs0
{% endif %}

## Enterprise-Only Options:

#auditLog:

#snmp: